.fS_5rem {
    font-size: 0.5rem !important;
}
.fS_75rem {
    font-size: 0.75rem !important;
}
.fS1_25rem {
    font-size: 1.25rem !important;
}
.fS1_5rem {
    font-size: 1.5rem !important;
}
.fS2rem {
    font-size: 2rem !important;
}
.fS2_5rem {
    font-size: 2.5rem !important;
}
.fS3rem {
    font-size: 3rem !important;
}
.fW9 {
    font-weight: 900;
}
/*------------------------------OLD-----------------------------------------------------*/
.fS-_5R {
    font-size: 0.5rem !important;
}
.fS-_75R {
    font-size: 0.75rem !important;
}
.fS-1_25R {
    font-size: 1.25rem !important;
}
.fS-1_5R {
    font-size: 1.5rem !important;
}
.fS-2R {
    font-size: 2rem !important;
}
.fS-2_5R {
    font-size: 2.5rem !important;
}
.fS-3R {
    font-size: 3rem !important;
}
.fW-9 {
    font-weight: 900;
}
/*---------------------------------------------------------------------------*/
.tA-l {
    text-align: left !important;
}
.tA-c {
    text-align: center !important;
}
.tA-r {
    text-align: right !important;
}