.m_25rem {
    margin: .25rem;
}
.m_5rem {
    margin: .5rem;
}
.m1rem {
    margin: 1rem;
}
.m2rem {
    margin: 2rem;
}
.m3rem {
    margin: 3rem;
}
.m4rem {
    margin: 4rem;
}
.m5rem {
    margin: 5rem;
}
.mL_25rem {
    margin-left: .25rem;
}
.mL_5rem {
    margin-left: .5rem;
}
.mL1rem {
    margin-left: 1rem;
}
.mL2rem {
    margin-left: 2rem;
}
.mL3rem {
    margin-left: 3rem;
}
.mL4rem {
    margin-left: 4rem;
}
.mL5rem {
    margin-left: 5rem;
}
.mR_25rem {
    margin-right: .25rem;
}
.mR_5rem {
    margin-right: .5rem;
}
.mR1rem {
    margin-right: 1rem;
}
.mR2rem {
    margin-right: 2rem;
}
.mR3rem {
    margin-right: 3rem;
}
.mR4rem {
    margin-right: 4rem;
}
.mR5rem {
    margin-right: 5rem;
}
.mX_25rem {
    margin-left: .25rem;
    margin-right: .25rem;
}
.mX_5rem {
    margin-left: .5rem;
    margin-right: .5rem;
}
.mX1rem {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mX2rem {
    margin-left: 2rem;
    margin-right: 2rem;
}
.mX3rem {
    margin-left: 3rem;
    margin-right: 3rem;
}
.mX4rem {
    margin-left: 4rem;
    margin-right: 4rem;
}
.mX5rem {
    margin-left: 5rem;
    margin-right: 5rem;
}
.mT_25rem {
    margin-top: .25rem;
}
.mT_5rem {
    margin-top: .5rem;
}
.mT1rem {
    margin-top: 1rem;
}
.mT2rem {
    margin-top: 2rem;
}
.mT3rem {
    margin-top: 3rem;
}
.mT4rem {
    margin-top: 4rem;
}
.mT5rem {
    margin-top: 5rem;
}
.mB_25rem {
    margin-bottom: .25rem;
}
.mB_5rem {
    margin-bottom: .5rem;
}
.mB1rem {
    margin-bottom: 1rem;
}
.mB2rem {
    margin-bottom: 2rem;
}
.mB3rem {
    margin-bottom: 3rem;
}
.mB4rem {
    margin-bottom: 4rem;
}
.mB5rem {
    margin-bottom: 5rem;
}
.mY_25rem {
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.mY_5rem {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.mY1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mY2rem {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mY3rem {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mY4rem {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.mY5rem {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.m-a {
    margin: auto;
}
/*-----------------------------------------------OLD----------------------------------------*/
.m-_25R {
    margin: .25rem;
}
.m-_5R {
    margin: .5rem;
}
.m-1R {
    margin: 1rem;
}
.m-2R {
    margin: 2rem;
}
.m-3R {
    margin: 3rem;
}
.m-4R {
    margin: 4rem;
}
.m-5R {
    margin: 5rem;
}
.mL-_25R {
    margin-left: .25rem;
}
.mL-_5R {
    margin-left: .5rem;
}
.mL-1R {
    margin-left: 1rem;
}
.mL-2R {
    margin-left: 2rem;
}
.mL-3R {
    margin-left: 3rem;
}
.mL-4R {
    margin-left: 4rem;
}
.mL-5R {
    margin-left: 5rem;
}
.mR-_25R {
    margin-right: .25rem;
}
.mR-_5R {
    margin-right: .5rem;
}
.mR-1R {
    margin-right: 1rem;
}
.mR-2R {
    margin-right: 2rem;
}
.mR-3R {
    margin-right: 3rem;
}
.mR-4R {
    margin-right: 4rem;
}
.mR-5R {
    margin-right: 5rem;
}
.mX-_25R {
    margin-left: .25rem;
    margin-right: .25rem;
}
.mX-_5R {
    margin-left: .5rem;
    margin-right: .5rem;
}
.mX-1R {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mX-2R {
    margin-left: 2rem;
    margin-right: 2rem;
}
.mX-3R {
    margin-left: 3rem;
    margin-right: 3rem;
}
.mX-4R {
    margin-left: 4rem;
    margin-right: 4rem;
}
.mX-5R {
    margin-left: 5rem;
    margin-right: 5rem;
}
.mT-_25R {
    margin-top: .25rem;
}
.mT-_5R {
    margin-top: .5rem;
}
.mT-1R {
    margin-top: 1rem;
}
.mT-2R {
    margin-top: 2rem;
}
.mT-3R {
    margin-top: 3rem;
}
.mT-4R {
    margin-top: 4rem;
}
.mT-5R {
    margin-top: 5rem;
}
.mB-_25R {
    margin-bottom: .25rem;
}
.mB-_5R {
    margin-bottom: .5rem;
}
.mB-1R {
    margin-bottom: 1rem;
}
.mB-2R {
    margin-bottom: 2rem;
}
.mB-3R {
    margin-bottom: 3rem;
}
.mB-4R {
    margin-bottom: 4rem;
}
.mB-5R {
    margin-bottom: 5rem;
}
.mY-_25R {
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.mY-_5R {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.mY-1R {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mY-2R {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mY-3R {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mY-4R {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.mY-5R {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.m-auto {
    margin: auto;
}