.m0 {
    margin: 0px;
}
.m_25rem {
    margin: .25rem;
}
.m_5rem {
    margin: .5rem;
}
.m1rem {
    margin: 1rem;
}
.m2rem {
    margin: 2rem;
}
.m3rem {
    margin: 3rem;
}
.ml_25rem {
    margin-left: .25rem;
}
.ml_5rem {
    margin-left: .5rem;
}
.ml1rem {
    margin-left: 1rem;
}
.ml2rem {
    margin-left: 2rem;
}
.ml3rem {
    margin-left: 3rem;
}
.mr_25rem {
    margin-right: .25rem;
}
.mr_5rem {
    margin-right: .5rem;
}
.mr1rem {
    margin-right: 1rem;
}
.mr2rem {
    margin-right: 2rem;
}
.mr3rem {
    margin-right: 3rem;
}
.MX_25rem {
    margin-left: .25rem;
    margin-right: .25rem;
}
.MX_5rem {
    margin-left: .5rem;
    margin-right: .5rem;
}
.MX1rem {
    margin-left: 1rem;
    margin-right: 1rem;
}
.MX2rem {
    margin-left: 2rem;
    margin-right: 2rem;
}
.MX3rem {
    margin-left: 3rem;
    margin-right: 3rem;
}
.mt_25rem {
    margin-top: .25rem;
}
.mt_5rem {
    margin-top: .5rem;
}
.mt1rem {
    margin-top: 1rem;
}
.mt2rem {
    margin-top: 2rem;
}
.mt3rem {
    margin-top: 3rem;
}
.mb_25rem {
    margin-bottom: .25rem;
}
.mb_5rem {
    margin-bottom: .5rem;
}
.mb1rem {
    margin-bottom: 1rem;
}
.mb2rem {
    margin-bottom: 2rem;
}
.mb3rem {
    margin-bottom: 3rem;
}
.MY_25rem {
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.MY_5rem {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.MY1rem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.MY2rem {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.MY3rem {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.m-a {
    margin: auto;
}