.p_25rem {
    padding: .25rem !important;
}
.p_5rem {
    padding: .5rem !important;
}
.p_75rem {
    padding: .75rem !important;
}
.p1rem {
    padding: 1rem !important;
}
.p2rem {
    padding: 2rem !important;
}
.p3rem {
    padding: 3rem !important;
}
.pl_25rem {
    padding-left: .25rem !important;
}
.pl_5rem {
    padding-left: .5rem !important;
}
.pl1rem {
    padding-left: 1rem !important;
}
.pl2rem {
    padding-left: 2rem !important;
}
.pl3rem {
    padding-left: 3rem !important;
}
.pr_25rem {
    padding-right: .25rem !important;
}
.pr_5rem {
    padding-right: .5rem !important;
}
.pr1rem {
    padding-right: 1rem !important;
}
.pr2rem {
    padding-right: 2rem !important;
}
.pr3rem {
    padding-right: 3rem !important;
}
.PX_25rem {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
}
.PX_5rem {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}
.PX1rem {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.PX2rem {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.PX3rem {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
.pt_25rem {
    padding-top: .25rem !important;
}
.pt_5rem {
    padding-top: .5rem !important;
}
.pt1rem {
    padding-top: 1rem !important;
}
.pt2rem {
    padding-top: 2rem !important;
}
.pt3rem {
    padding-top: 3rem !important;
}
.pb_25rem {
    padding-bottom: .25rem !important;
}
.pb_5rem {
    padding-bottom: .5rem !important;
}
.pb1rem {
    padding-bottom: 1rem !important;
}
.pb2rem {
    padding-bottom: 2rem !important;
}
.pb3rem {
    padding-bottom: 3rem !important;
}
.PY_25rem {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}
.PY_5rem {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}
.PY1rem {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.PY2rem {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.PY3rem {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}